<div>
  <form action="">
    <tabset>
      <tab heading="Heredo Familiares" id="tab1">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Padre</th>
              <th scope="col">Madre</th>
              <th scope="col">Abuelos Paternos</th>
              <th scope="col">Abuelos Maternos</th>
              <th scope="col">Hermanos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let enfermedad of enfermedades; let i = index">
              <td>{{enfermedad.nombre}}</td>
              <td class="col-1"><input type="checkbox"></td>
              <td class="col-1"><input type="checkbox"></td>
              <td class="col-1"><input type="checkbox"></td>
              <td class="col-1"><input type="checkbox"></td>
              <td class="col-1"><input type="checkbox"></td>
          </tbody>
        </table>
      </tab>

      <tab heading="Patologicos" id="tab2" >
        <app-multicheckbox></app-multicheckbox>
      </tab>

      <tab heading="No Patologicos" id="tab3">

      </tab>

      <tab heading="Gineco-obstétricos" id="tab3">
        <div class="row">
                <label for="" class="form-label" id="Menarquía">Menarquía: </label>
              <div class="col-3">
                <input type="text" name="" id="" class="form-control">
              </div>
            </div>
            <br>

        <div class="row">
          <div class="col-4">
            <h5>Características de la Menstruación</h5>

            <label for="" class="form-label">Última Menstruación</label>
            <input type="text" class="form-control">
            <br>

            <div class="row">
              <div class="col-3">
                <label for="" class="form-label">Duración (Días):</label>
              </div>
              <div class="col-9">
                <input type="text" name="" id="" class="form-control">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Cantidad de sangre</label>
                <select  class="form-control" id="options">
                  <option selected value="No especificado">No especificado</option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Frecuencia</label>
                <select  class="form-control" id="options">
                  <option selected value="">No especificado</option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-4">
                <label for="" class="form-label">Presencia de dolor: </label>
                <select  class="form-control" id="options">
                  <option selected value="No">No</option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <br>

            <label for="floatingTextarea2">Presencia de otras secreciones vaginales</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>

          </div>
          <div class="col-4">
            <h5>Actividad Sexual</h5>
            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Vida sexual activa</label>
                <input type="text" name="" id="" class="form-control">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-8">
                <label for="" class="form-label">Edad inicio actividad sexual:</label>
                <input type="text" name="" id="" class="form-control">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-8">
                <label for="" class="form-label">Número de compañeros sexuales:</label>
                <input type="text" name="" id="" class="form-control">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-8">
                <label for="" class="form-label">Método anticonceptivo:</label>
                <input type="text" name="" id="" class="form-control">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Tipo de relaciones</label>
                <select  class="form-control" id="options">
                  <option selected value="No especificado">No especificado</option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <br>

            <label for="floatingTextarea2">Enfermedades de transmisión sexual</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          </div>

          <div class="col-4">
            <h5>Información de embarazos</h5>
            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Gestaciones</label>
                <select  class="form-control" id="options">
                  <option selected value="Ninguno">Ninguno</option>
                  <option value="Ninguno">Ninguno</option>
                  <option value="Ninguno">Ninguno</option>
                </select>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Partos</label>
                <select  class="form-control" id="options">
                  <option selected value="Ninguno">Ninguno</option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Abortos</label>
                <select  class="form-control" id="options">
                  <option selected value="Ninguno">Ninguno</option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Cesareas</label>
                <select  class="form-control" id="options">
                  <option selected value="Ninguno">Ninguno</option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <br>

            <label for="floatingTextarea2">Antecedentes Prerinatales</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          </div>
        </div>
      </tab>

    </tabset>
  </form>
</div>
