<div *ngIf="!done">
  cargando...
</div>

<div class='contenedor-principal' *ngIf="done">
  <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand"><i class="fa fa-user-md"></i> Agregar Doctor</a>
      </div>
  </nav>
  <div class="card">
    <h5 class="card-header">Llena todos los campos del Doctor</h5>
    <div class="card-body">
      <h5> Datos Doctor</h5>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span *ngIf="editDoctor == false">
              <label  for="form-label" class="">ID Doctor</label>
              <input type="text" class="form-control" [(ngModel)]="doc_id" placeholder="ID de Doctor">
            </span>
          </div>
          <div class="col-4">
          </div>
        </div>
      </div>

      <form [formGroup]="doctorForm" (ngSubmit)="addDoctor()">
        <div class="row">
            <div class="col-6">
              <label for="">Nombre</label>
              <input type="text" formControlName="doc_nombre" class="form-control" placeholder="Nombre">
            </div>
            <div class="col-3">
              <label for="">Primer Apellido</label>
              <input type="text" formControlName="doc_primer_apellido" class="form-control" placeholder="Primer Apellido">
            </div>
          <div class="col-3">
              <label for="">Segundo Apellido</label>
              <input type="text" formControlName="doc_segundo_apellido" class="form-control" placeholder="Segundo Apellido">
          </div>
        </div>

        <div class="row" id="curpCedula">
          <div class="col-6">
            <label for="">CURP</label>
            <input type="text" formControlName="doc_curp" class="form-control" placeholder="C.U.R.P">
          </div>

          <div class="col-6">
            <label class="">Cédula Profesional</label>
              <input type="text" formControlName="doc_cedula" class="form-control" (keypress)="numberOnly($event)" placeholder="CEDULA">
          </div>
        </div>

        <div class="row" id="especialidad">
          <div class="col-5">
            <label for="">Especialidad</label>
            <label for="especialidades">Especialidad</label>
            <ng-select *ngIf="isCitiesControlVisible" [items]="especialidades"
              [items]="especialidades"
              bindLabel="name"
              bindValue="name"
              labelForId="especialidades"
              [multiple]="true"
              placeholder="Seleccione especialidades"
              clearAllText="Clear"
              formControlName="doc_especialidades">
            </ng-select>
          <!-- <input type="text" formControlName="doc_especialidades" class="form-control" placeholder="Nutrición, Optometría, Odontologia, etc ..."> -->
          </div>
          <div class="col-4" *ngIf="currentUser">
            <label class="">Estado del Doctor</label>
                <select class="form-control" formControlName="activo" [(ngModel)]="varActivo">
                  <option [ngValue]="true" >Activo</option>
                  <option [ngValue]="false">Inactivo</option>
                </select>
                <small id="notificacion" class="form-text"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Este campo es para indicar si el doctor se encuentra activo en la clínica o no.</small>
            </div>
          </div>
        <br>
        <hr>

        <h5 class="direccionH5"> Dirección</h5>
        <div class="row" >
          <div class="col-6">
            <label class="col-form-label col-form-label-lg" for="estado">Estado</label>
            <select id="estado" #estados formControlName="doc_estado"
                (change)="getMunicipios(estados.value)" class="form-control">
                <option value="" disabled="true">Selecciona una opcion</option>
                <option value="Aguascalientes">Aguascalientes</option>
                <option value="Baja California">Baja California</option>
                <option value="Baja California Sur">Baja California Sur</option>
                <option value="Campeche">Campeche</option>
                <option value="Ciudad de México">Ciudad de México</option>
                <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                <option value="Colima">Colima</option>
                <option value="Chiapas">Chiapas</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Durango">Durango</option>
                <option value="Guanajuato">Guanajuato</option>
                <option value="Guerrero">Guerrero</option>
                <option value="Hidalgo">Hidalgo</option>
                <option value="Jalisco">Jalisco</option>
                <option value="México">México</option>
                <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                <option value="Morelos">Morelos</option>
                <option value="Nayarit">Nayarit</option>
                <option value="Nuevo León">Nuevo León</option>
                <option value="Oaxaca">Oaxaca</option>
                <option value="Puebla">Puebla</option>
                <option value="Querétaro">Querétaro</option>
                <option value="Quintana Roo">Quintana Roo</option>
                <option value="San Luis Potosí">San Luis Potosí</option>
                <option value="Sinaloa">Sinaloa</option>
                <option value="Sonora">Sonora</option>
                <option value="Tabasco">Tabasco</option>
                <option value="Tamaulipas">Tamaulipas</option>
                <option value="Tlaxcala">Tlaxcala</option>
                <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>
                <option value="Yucatán">Yucatán</option>
                <option value="Zacatecas">Zacatecas</option>
            </select>
        </div>
          <div *ngIf="bandMunicipio == false" class="col-4">
              <label class="col-form-label col-form-label-lg" for="municipio">Municipio</label>
              <select id="municipio" formControlName="doc_municipio" class="form-control">
                  <option value="" disabled="true">Selecciona una opcion</option>
                  <option *ngFor="let x of municipios" value="{{x}}">{{x}}</option>
              </select>
          </div>

          <div *ngIf="bandMunicipio == true" class="col-4">
            <label class="col-form-label col-form-label-lg" for="municipio">Municipio</label>
            <select id="municipio" formControlName="doc_municipio" class="form-control">
                <option value="{{municipio1}}" disabled="true">Estado actual: {{municipio1}}</option>
                <p>{{municipio1}}</p>
                <option *ngFor="let x of municipios" value="{{x}}">{{x}}</option>
            </select>
          </div>

        </div>

        <div class="row" id="direccion" >
          <div class="col-4">
            <label for="" class="input">Colonia</label>
            <input type="text" formControlName="doc_dir_colonia" class="form-control" placeholder="COLONIA">
          </div>
          <div class="col-4">
            <label for="">Calle</label>
            <input type="text" formControlName="doc_dir_calle" class="form-control" placeholder="CALLE">
          </div>
          <div class="col-2">
            <label for="">Número</label>
            <input type="text" formControlName="doc_dir_numero" class="form-control" placeholder="Número del dominio">
          </div>
          <div class="col-2">
            <label for="">Código Postal</label>
            <input type="text" formControlName="doc_dir_cp" class="form-control" placeholder="Cod. Postal">
          </div>
        </div>
        <hr>
        <h5 class="titulo"> Contacto</h5>

          <div class="row">
            <div class="col-6">
              <label class="">Correo Electrónico</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-at" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" formControlName="doc_email" [ngClass]="{ 'is-invalid': f.doc_email.errors }" placeholder="ejemplo@dominio.com">
                <div *ngIf="f.doc_email.errors" class="invalid-feedback">
                    <div *ngIf="f.doc_email.errors.required">El correo electrónico es requerido</div>
                    <div *ngIf="f.doc_email.errors.email">Formato de correo invalido</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <label class="">Teléfono</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-mobile" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" formControlName="doc_celular_principal" (keypress)="numberOnly($event)" placeholder="(000) 000 0000" maxlength="10">
              </div>
            </div>
          </div>
          <h5>Disponibilidad</h5>
          <div class="row">
            <div class="col-5">
              <label for="">Hora de Inicio</label>
              <input type="time" formControlName="doc_horario_ini" class="form-control" placeholder="8:00am, 12:00pm">
            </div>
            <div class="col-5">
              <label for="">Hora Fin</label>
              <input type="time" formControlName="doc_horario_fin" class="form-control" placeholder="CALLE">
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-success" (click)="addMetodo()" id="addMetodo"><i class="fa fa-plus" aria-hidden="true"></i></button><span>Agregar Metodo de Contacto</span>
          <ng-container formArrayName="metodos_contacto">
            <ng-container *ngFor="let metodoForm of metodos.controls; let i = index">
              <div class="row" [formGroup]="metodoForm">
                  <div class="col-3">
                    <label for="" class="labelMetodo">Tipo de Contacto</label>
                    <input type="text" formControlName="doc_metodo" class="form-control" id="#inputMetodo" placeholder="Celular, Telefono Fijo, Whatsapp, telegram, etc...">
                  </div>
                  <div class="col-3">
                    <label for="" class="labelMetodo">Telefono</label>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                      <input type="text" formControlName="doc_telefono_aux" class="form-control" id="#inputMetodo" (keypress)="numberOnly($event)" placeholder="(000) 000 0000">
                    </div>
                  </div>
                  <div class="col-3">
                    <label for="" class="labelMetodo">Horario</label>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-clock-o" aria-hidden="true"></i>                      </span>
                      <input type="text" formControlName="doc_horario" class="form-control" id="#inputMetodo" placeholder="Matutino, Vespertino, Nocturno, 8am-12pm, etc...">
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="row">
                      <button type="button" class="btn btn-danger" (click)="deleteMetodo(i)" id="delete"><i class="fa fa-eraser" aria-hidden="true"></i>
                        Eliminar</button>
                    </div>
                  </div>
              </div>
            </ng-container>
          </ng-container>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button *ngIf="!currentUser" class="btn btn-success me-md-2" type="submit" [disabled]="!doctorForm.valid" >Guardar</button>
            <button *ngIf="currentUser" class="btn btn-success me-md-2" (click)="updateDoctor()" type="button" [disabled]="!doctorForm.valid" >Actualizar</button>
            <button class="btn btn-danger" type="button" (click)="goToDoctors()">Cancelar</button>
          </div>
    </form>
    </div>
  </div>

</div>
