<div class="contenedor-principal">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand"><i class="fa fa-list-alt"></i> Historia Clínica</a>
    </div>
  </nav>

  <div class="card">
    <h5 class="card-header">Contesta la historia clínica</h5>
    <div class="card-body">
      <div>
        <tabset>
          <tab heading="Datos" id="tab1"></tab>
          <tab heading="Antecedentes">
            <app-heredo-familiares></app-heredo-familiares>
          </tab>
          <tab heading="Citas">Basic content 2</tab>
          <tab heading="Interrogatorios">Basic content 2</tab>
          <tab heading="Consultas">Consultas</tab>
          <tab heading="Inoculaciones">Basic content 2</tab>
          <tab heading="Comprobantes">Basic content 2</tab>
          <tab heading="Ingresos">Basic content 2</tab>
          <tab heading="multicheckbox"><app-multicheckbox></app-multicheckbox></tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
