<div *ngIf="!done">
    cargando...
  </div>
  
  <div class='contenedor-principal' *ngIf="done">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Doctores</a>
            <form class="d-flex">
                <button class="btn btn-primary" type="button" (click)="goToAddDoc()">Agregar doctor</button>
            </form>
        </div>
    </nav>
  
    <div class="row" style="padding-top: 5px;">
        <div class="col-lg-4 col-md-6">
            <input class="mb form-control" placeholder="Filtro" type="text" (keyup)="onQuickFilterChanged($event)" />
        </div>
    </div>
    <br>
    <ag-grid-angular class="ag-theme-alpine" style=" height: 400px;" [gridOptions]="tablaDoctores"
    [pagination]="true"></ag-grid-angular>
  </div>
