<div class="modal-header">
  <h4 class="modal-title pull-left" *ngIf="detallesBand"> Detalles del paciente {{ currentPaciente.pac_nombre_completo
    }} </h4>
  <h4 class="modal-title pull-left" *ngIf="antecedentesBand"> Registro de Antecedentes -- {{
    currentPaciente.pac_nombre_completo }} </h4>
  <h4 class="modal-title pull-left" *ngIf="citasBand"> Registro de citas -- {{ currentPaciente.pac_nombre_completo }}
  </h4>
  <div class="pull-right">
    <button type="button" class="btn btn-secondary" title="Cerrar" (click)="modalRef.hide();">
      <span class="fa fa-times-circle"></span>
    </button>
  </div>
</div>

<div class="modal-body">
  <div class="container" *ngIf="detallesBand">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="./../../../../assets/img/paciente_masculino.jfif" *ngIf="currentPaciente.pac_Sexo =='M'"
                  alt="paciente" class="rounded-circle" width="150">
                <img src="./../../../../assets/img/paciente_femenino.jfif" *ngIf="currentPaciente.pac_Sexo == 'F'"
                  alt="paciente" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4> {{ currentPaciente.pac_nombres }} {{ currentPaciente.pac_primer_apellido }}</h4>
                  <p class="text-muted font-size-sm">Paciente {{ currentPaciente.empresa | titlecase}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2">
                  <h6 class="mb-0">Fecha Nacimiento</h6>
                </div>
                <div class="col-sm-4">
                  {{ currentPaciente.pac_f_nacimiento }}
                </div>
                <div class="col-sm-2">
                  <h6 class="mb-0">Edad</h6>
                </div>
                <div class="col-sm-4">
                  {{ currentPaciente.edad }}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-2">
                  <h6 class="mb-0">Celular</h6>
                </div>
                <div class="col-sm-4">
                  <span *ngIf="currentPaciente.pac_celular">
                    ({{ currentPaciente.pac_celular | slice:0:3}}) - {{ currentPaciente.pac_celular
                    | slice:3:6}} - {{ currentPaciente.pac_celular | slice:-4}}
                  </span>
                </div>
                <div class="col-sm-2">
                  <h6 class="mb-0">Telefono</h6>
                </div>
                <div class="col-sm-4">
                  <span *ngIf="currentPaciente.pac_telefono">
                    ({{ currentPaciente.pac_telefono | slice:0:3}}) - {{
                    currentPaciente.pac_telefono | slice:3:6}} - {{ currentPaciente.pac_telefono |
                    slice:-4}}
                  </span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Correo electrónico</h6>
                </div>
                <div class="col-sm-9">
                  {{ currentPaciente.pac_email }}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Dirección</h6>
                </div>
                <div class="col-sm-9">
                  <span *ngIf="currentPaciente.pac_estado"> {{ currentPaciente.pac_estado }} </span>
                  <span *ngIf="currentPaciente.pac_municipio"> {{ currentPaciente.pac_municipio }}
                  </span> <span *ngIf="currentPaciente.pac_localidad"> {{
                    currentPaciente.pac_localidad }} </span> <span *ngIf="currentPaciente.pac_dir_cp">C.P. {{
                    currentPaciente.pac_dir_cp }} </span>
                  <span *ngIf="currentPaciente.pac_dir_colonia"> Colonia {{
                    currentPaciente.pac_dir_colonia }} </span> <span *ngIf="currentPaciente.pac_dir_calle"> {{
                    currentPaciente.pac_dir_calle }}
                  </span>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>

      <div class="row gutters-sm">
        <div class="col-md-12 mb-12">

          <div class="card">
            <div class="card-body">
              <tabset [justified]="true">

                <tab heading="Antecedentes">
                  <div *ngIf="!currentPaciente.pac_historia_clinica">
                    <div class="alert alert-warning" role="alert">
                      <h4 class="alert-heading">Paciente sin registro de antecedentes</h4>
                      <p>No exiten registros de antecedentes para este paciente, se recomienda que
                        se agreguen lo antes posible.</p>
                      <hr>
                      <p class="mb-0">
                        <button type="button" class="btn btn-primary" (click)="activarAntecedentes()">Agregar
                          antecedentes</button>
                      </p>
                    </div>
                  </div>
                  <div *ngIf="currentPaciente.pac_historia_clinica == true">
                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Este paciente cuenta con registro de antecedentes</h4>
                      <p>Ya existe una historia clíncia asociada a este paciente.</p>
                      <div class="row">
                        <div class="col-3">
                          <button class="btn btn-warning" id="boton" (click)="activarVerHistoria()">Ver Historia Clínica</button>
                        </div>
                        <div class="col-3">
                          <button class="btn btn-info" id="boton" (click)="activarEditar()">Editar Historia Clínica</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>
                </tab>

                <tab>
                  <ng-template tabHeading>
                    Citas <span class="badge badge-primary"> {{ dataCitasAll.length }} </span>
                  </ng-template>

                  <div *ngIf="dataCitasAll.length == 0 ">
                    <div class="alert alert-warning" role="alert">
                      <h4 class="alert-heading">Paciente sin registro de Citas</h4>
                      <p>El paciente no tiene ninguna cita registrada.</p>
                      <hr>
                      <p class="mb-0">
                        <button type="button" class='btn btn-success' (click)="activarCita()">
                          <span class='fa fa-calendar-plus-o'> </span> Agendar Cita
                        </button>
                      </p>
                    </div>
                  </div>
                  <div *ngIf="dataCitasAll.length > 0 ">

                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" class="table-success">Fecha</th>
                          <th scope="col" class="table-success">Horario</th>
                          <th scope="col" class="table-success">Estatus</th>
                          <th scope="col" class="table-success">Doctor</th>
                          <th scope="col" class="table-success">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let c of dataCitasAll">
                          <th scope="row"> {{ c.f_cita.seconds * 1000 | date:'longDate' }} </th>
                          <td>{{ c.cita_hora_ini }} - {{ c.cita_hora_fin }}</td>
                          <td> {{ c.estatus | uppercase }} </td>
                          <td>
                            {{ c.detDoctor.nombre }}
                          </td>
                          <td>
                            <button type="button" (click)="modificarCita(h)" class='btn btn-primary'>
                              <span class='fa fa-check-circle'> </span> Modificar
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="d-flex justify-content-center">
                      <button type="button" class='btn btn-success' (click)="activarCita()">
                        <span class='fa fa-calendar-plus-o'> </span> Agendar Cita
                      </button>
                    </div>
                  </div>
                </tab>
                <tab heading="Consultas">
                  Contenido de Consultas
                  <app-consultas [idPaciente]="id"></app-consultas>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="antecedentesBand">
    <app-historia-clinica [idPaciente]="currentPaciente.idPaciente" [pac_sexo]="currentPaciente.pac_Sexo"></app-historia-clinica>
  </div>

  <div class="container" *ngIf="bandEditar">
    <app-historia-clinica [idPaciente]="currentPaciente.idPaciente" [pac_sexo]="currentPaciente.pac_Sexo" [editar]="bandEditar" (cerrarModal)="closeModal($event)"></app-historia-clinica>
  </div>

  <div class="container" *ngIf="citasBand">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="./../../../../assets/img/paciente_masculino.jfif" *ngIf="currentPaciente.pac_Sexo =='M'"
                alt="paciente" class="rounded-circle" width="150">
              <img src="./../../../../assets/img/paciente_femenino.jfif" *ngIf="currentPaciente.pac_Sexo == 'F'"
                alt="paciente" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4> {{ currentPaciente.pac_nombres }} {{ currentPaciente.pac_primer_apellido }}</h4>
                <p class="text-muted font-size-sm">Paciente {{ currentPaciente.empresa | titlecase}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <h6 class="mb-0">Fecha Nacimiento</h6>
              </div>
              <div class="col-sm-4">
                {{ currentPaciente.pac_f_nacimiento }}
              </div>
              <div class="col-sm-2">
                <h6 class="mb-0">Edad</h6>
              </div>
              <div class="col-sm-4">
                {{ currentPaciente.edad }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-2">
                <h6 class="mb-0">Celular</h6>
              </div>
              <div class="col-sm-4">
                <span *ngIf="currentPaciente.pac_celular">
                  ({{ currentPaciente.pac_celular | slice:0:3}}) - {{ currentPaciente.pac_celular
                  | slice:3:6}} - {{ currentPaciente.pac_celular | slice:-4}}
                </span>
              </div>
              <div class="col-sm-2">
                <h6 class="mb-0">Telefono</h6>
              </div>
              <div class="col-sm-4">
                <span *ngIf="currentPaciente.pac_telefono">
                  ({{ currentPaciente.pac_telefono | slice:0:3}}) - {{
                  currentPaciente.pac_telefono | slice:3:6}} - {{ currentPaciente.pac_telefono |
                  slice:-4}}
                </span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Correo electrónico</h6>
              </div>
              <div class="col-sm-9">
                {{ currentPaciente.pac_email }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Dirección</h6>
              </div>
              <div class="col-sm-9">
                <span *ngIf="currentPaciente.pac_estado"> {{ currentPaciente.pac_estado }} </span>
                <span *ngIf="currentPaciente.pac_municipio"> {{ currentPaciente.pac_municipio }}
                </span> <span *ngIf="currentPaciente.pac_localidad"> {{
                  currentPaciente.pac_localidad }} </span> <span *ngIf="currentPaciente.pac_dir_cp">C.P. {{
                  currentPaciente.pac_dir_cp }} </span>
                <span *ngIf="currentPaciente.pac_dir_colonia"> Colonia {{
                  currentPaciente.pac_dir_colonia }} </span> <span *ngIf="currentPaciente.pac_dir_calle"> {{
                  currentPaciente.pac_dir_calle }}
                </span>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <br>
    <app-add-cita [currentPaciente]="currentPaciente" (citaSave)="citaSave($event)"></app-add-cita>
  </div>

  <div class="container" *ngIf="verHistoria">
    <h3>Detalles Historia Clínica <span class="resalta">{{currentPaciente.pac_nombre_completo}}</span></h3>
    <hr class="line">
    <h4>Antecedentes Heredo Familiares</h4>
    <div class="row">
      <div class="col-6">
        <span (click)="heredoPadres = !heredoPadres" [attr.aria-expanded]="!heredoPadres" class="NoPatologicos"><i
            class="fa fa-eye"></i>Ver/Ocultar Heredo Familiares (Padre, Madre y hermano(s))</span>
      </div>
      <div class="col-6">
        <span (click)="heredoAbuelos = !heredoAbuelos" [attr.aria-expanded]="!heredoAbuelos" class="NoPatologicos"><i
            class="fa fa-eye"></i>Ver/Ocultar Heredo Familiares (Abuelos y otros)</span>
      </div>
    </div>
    <div id="collapseBasic" [collapse]="heredoPadres" [isAnimated]="true">
      <hr class="line">
      <div class="row">
        <div class="col-4">
          <h5>Antecedentes Padre</h5>
          <span class="enf"
            *ngFor="let enf of currentPaciente.pac_antecedentes_data.heredo_familiares.padre; let i=index">
            <span class="badge badge-success" id="heredo">{{enf}}</span>
          </span>
        </div>
        <div class="col-4">
          <h5>Antecedentes Madre</h5>
          <span class="enf"
            *ngFor="let enf of currentPaciente.pac_antecedentes_data.heredo_familiares.madre; let i=index">
            <span class="badge badge-success" id="heredo">{{enf}}</span>
          </span>
        </div>
        <div class="col-4">
          <h5>Hermanos</h5>
          <span class="enf"
            *ngFor="let enf of currentPaciente.pac_antecedentes_data.heredo_familiares.hermanos; let i=index">
            <span class="badge badge-danger" id="heredo">{{enf}}</span>
          </span>
        </div>
      </div>
    </div>
    <div id="collapseBasic" [collapse]="heredoAbuelos" [isAnimated]="true">
      <hr class="line">
      <div class="row">
        <div class="col-4">
          <h5>Abuelos Paternos</h5>
          <span class="enf"
            *ngFor="let enf of currentPaciente.pac_antecedentes_data.heredo_familiares.abuelosPaternos; let i=index">
            <span class="badge badge-primary" id="heredo">{{enf}}</span>
          </span>
        </div>
        <div class="col-4">
          <h5>Abuelos Paternos</h5>
          <span class="enf"
            *ngFor="let enf of currentPaciente.pac_antecedentes_data.heredo_familiares.abuelosMaternos; let i=index">
            <span class="badge badge-primary" id="heredo">{{enf}}</span>
          </span>
        </div>
        <div class="col-4">
          <h5>Otros</h5>
          <span class="enf"
            *ngFor="let enf of currentPaciente.pac_antecedentes_data.heredo_familiares.otros; let i=index">
            <span class="badge badge-danger" id="heredo">{{enf}}</span>
          </span>
        </div>
      </div>
    </div>
    <hr class="line">
    <h3>No patologicos </h3>
    <span (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" class="NoPatologicos"><i
        class="fa fa-eye"></i>>Ver/Ocultar No Patologicos</span>
    <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
      <br>
      <h5>Información No Patologicos</h5>
      <div class="row">
        <div class="col-6">
          <span class="info">Número de habitantes: <span
              class="resp">{{currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_habitantes}}</span></span>
        </div>
        <div class="col-6">
          <span class="info">Número de habitaciones: <span
              class="resp">{{currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_habitaciones}}</span></span>
        </div>
      </div>
      <hr class="line">
      <h4>Mascotas</h4>
      <div class="row">
        <div class="col-12">
          <div class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.No_Patolgicos.mascota == 'No'">
            <span class="infoGO">¿El paciente cuenta con mascotas?</span>
            <span class="infoGO"><span class="resp"> No</span> <i class="fa fa-window-close" id="no"></i></span>
          </div>
          <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.No_Patolgicos.mascota == 'Si'">
            <span class="infoGO">¿El paciente cuenta con mascotas?<span class="resp"> Si</span> <i
                class="fa fa-check-square" id="si"></i></span>
            <span class="infoGO">¿De qué tipo? <span
                class="resp">{{currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_mascota_tipo}}</span></span>
          </span>
        </div>
      </div>
      <hr class="line">
      <h4>Alimentación</h4>
      <div class="row">
        <div class="col-4">
          <span class="info">¿Consume algún tipo de pan?
            <span class="info" *ngIf="currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_consumo_pan == 'Si'"><span
                class="resp"> Si</span> <i class="fa fa-check-square" id="si"></i>
            </span>
            <span class="info" *ngIf="currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_consumo_pan == 'No'"><span
                class="resp"> No</span> <i class="fa fa-window-close" id="no"></i>
            </span>
          </span>
        </div>
        <div class="col-4">
          <span class="info">¿Consume refresco?
            <span class="info"
              *ngIf="currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_consumo_refresco == 'Si'"><span
                class="resp"> Si</span> <i class="fa fa-check-square" id="si"></i>
            </span>
            <span class="info"
              *ngIf="currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_consumo_refresco == 'No'"><span
                class="resp"> No</span> <i class="fa fa-window-close" id="no"></i>
            </span>
          </span>
        </div>
        <div class="col-4">
          <span class="info">¿Agrega sal a la comida?
            <span class="info" *ngIf="currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_consumo_sal == 'Si'"><span
                class="resp"> Si</span> <i class="fa fa-check-square" id="si"></i>
            </span>
            <span class="info-"
              *ngIf="currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_consumo_sal == 'No'"><span class="resp">
                No</span> <i class="fa fa-window-close" id="no"></i>
            </span>
          </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <span class="info">Cantidad de comidas al día: <span
              class="resp">{{currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_comidas_al_dia}}</span></span>
        </div>
        <div class="col-4">
          <span class="info">Cantidad de grupos alimenticios: <span
              class="resp">{{currentPaciente.pac_antecedentes_data.No_Patolgicos.pac_gpos_alimenticios}}</span></span>
        </div>
        <div class="col-4"></div>
      </div>
      <hr class="line">
      <h4>Actividad Física</h4>
      <div class="row"
        *ngFor="let act of currentPaciente.pac_antecedentes_data.No_Patolgicos.Actividades_Fisicas; let i = index">
        <div class="col-4">
          <span class="info">
            Actividad Física: <span class="resp">{{act.pac_actividad_fisica}}</span>
          </span>
        </div>
        <div class="col-4">
          <span class="info">
            Frecuencia Actividad Física: <span class="resp">{{act.pac_actividad_frec}}</span>
          </span>
        </div>
      </div>
    </div>
    <hr class="line">

    <h3>Patologias</h3>
    <span (click)="patologias = !patologias" [attr.aria-expanded]="!patologias" class="NoPatologicos"><i
        class="fa fa-eye"></i>Ver/Ocultar Patologías</span>
    <div id="collapseBasic" [collapse]="patologias" [isAnimated]="true">
      <br>
      <h4>Enfermedades cronico degenerativas</h4>
      <div class="row">
        <div class="col-3"
          *ngFor="let enf of currentPaciente.pac_antecedentes_data.Patologicos.cronico_degenerativas; let i=index">
          <span class="badge badge-warning" id="cronica">{{enf}}</span>
        </div>
      </div>
      <hr class="line">
      <h4>Alergias</h4>
      <div class="row">
        <div class="col-12">
          <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.alergias.alergias == 'Si'">
            <span class="infoME">El paciente padece alergias: <span class="resp">Si <i class="fa fa-check-square"
                  id="si"> </i></span></span>
            <span class="infoME">¿De qué tipo? <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.alergias.alergia_tipo}}</span></span>
          </span>
          <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.alergias.alergias == 'No'">
            <span class="infoME">El paciente padece alergias: <span class="resp">No <i class="fa fa-window-close"
                  id="no"></i></span></span>
          </span>
        </div>
      </div>
      <hr class="line">

      <h4>Hospitalizaciones</h4>
      <div class="row">
        <span class="col-12">
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.Hospitalizaciones.hospitalizaciones == 'No'">
            <span class="infoME">El paciente ha sido hospitalizado <span class="resp">No <i class="fa fa-window-close"
                  id="no"></i></span></span>
          </span>
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.Hospitalizaciones.hospitalizaciones == 'Si'">
            <span class="infoME">El paciente ha sido hospitalizado: <span class="resp">Si <i class="fa fa-check-square"
                  id="si"> </i></span></span>
            <span class="infoME">Fecha Aproximada: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.Hospitalizaciones.hospitalizacion_fecha}}</span>
            </span>
          </span>
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.Hospitalizaciones.hospitalizaciones == 'Si'">
            <span class="infoME">Causa: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.Hospitalizaciones.hospitalizacion_causa}}</span>
            </span>
            <span class="infoME">Secuela: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.Hospitalizaciones.hospitalizacion_secuela}}</span>
            </span>
          </span>
        </span>
      </div>
      <hr class="line">

      <h4>Quirurgícas</h4>
      <div class="row">
        <div class="col-12">
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.quirurgicas.quirurgicas == 'No'">
            <span class="infoME">El paciente cuenta con operaciones quirurgicas <span class="resp">No <i
                  class="fa fa-window-close" id="no"></i></span></span>
          </span>
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.quirurgicas.quirurgicas == 'Si'">
            <span class="infoME">El paciente cuenta con operaciones quirurgicas <span class="resp">Si <i
                  class="fa fa-check-square" id="si"></i></span></span>
            <span class="infoME">Fecha Aproximada: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.quirurgicas.quirurgica_fecha}}</span>
            </span>
          </span>
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.quirurgicas.quirurgicas == 'Si'">
            <span class="infoME">Causa: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.quirurgicas.quirurgica_causa}}</span>
            </span>
            <span class="infoME">Secuela: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.quirurgicas.quirurgica_secuela}}</span>
            </span>
          </span>
        </div>
      </div>
      <hr class="line">

      <h4>Traumatismos</h4>
      <div class="row">
        <div class="col-12">
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.traumaticos.traumaticos == 'No'">
            <span class="infoME">El paciente cuenta con traumatismos: <span class="resp">No <i
                  class="fa fa-window-close" id="no"></i></span></span>
          </span>
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.traumaticos.traumaticos == 'Si'">
            <span class="infoME">El paciente padeció algún traumatismo: <span class="resp">Si <i
                  class="fa fa-check-square" id="si"> </i></span></span>
            <span class="infoME">Fecha Aproximada: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.traumaticos.fecha_traumaticos}}</span>
            </span>
          </span>
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.traumaticos.traumaticos == 'Si'">
            <span class="infoME">Causa: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.traumaticos.causas_traumaticos}}</span>
            </span>
            <span class="infoME">Secuela: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.traumaticos.secuelas_traumaticos}}</span>
            </span>
          </span>
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.traumaticos.traumaticos == 'Si'">
            <span class="infoME">Tipo de traumatismo: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.traumaticos.tipos_traumaticos}}</span>
            </span>
          </span>
        </div>
        <br>
      </div>
      <hr class="line">

      <h4>Transfusiones</h4>
      <div class="row">
        <div class="col-12">
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.transfusiones.transfusiones == 'No'">
            <span class="infoME">El paciente ha recibido transfusiones <span class="resp">No <i
                  class="fa fa-window-close" id="no"></i></span></span>
          </span>
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.transfusiones.transfusiones == 'Si'">
            <span class="infoME">El paciente cuenta con transfusiones <span class="resp">Si <i
                  class="fa fa-check-square" id="si"> </i></span></span>
            <span class="infoME">Fecha Aproximada: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.transfusiones.transfusiones_fecha}}</span>
            </span>
          </span>
          <span class="containerME"
            *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.transfusiones.transfusiones == 'Si'">
            <span class="infoME">Causa: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.transfusiones.transfusiones_causas}}</span>
            </span>
          </span>
        </div>
      </div>
      <hr class="line">

      <h4>Sustancias Psicoactivas</h4>
      <div class="row">
        <div class="col-5">
          <h5>Consumo de alcohol</h5>
          <span class="info">El paciente connsume bebidas alcoholicas:
            <span class="resp"
              *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.alcoholismo == 'No'">No
              <i class="fa fa-window-close" id="no"></i></span>
            <span *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.alcoholismo == 'Si'">
              <span class="info"
                *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.alcoholismo == 'Si'">
                <span class="resp">Si <i class="fa fa-check-square" id="si"> </i></span></span>
              <br>
              <span class="info"
                *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.alcoholismo == 'Si'">
                ¿Con que frecuencia? <span
                  class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.alcoholismo_frecuencia}}</span>
              </span>
              <br>
              <span class="info"
                *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.alcoholismo == 'Si'">
                ¿En qué cantidades? <span
                  class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.alcoholismo_cantidad}}</span>
              </span>
              <br>
            </span>
          </span>
        </div>

        <div class="col-5">
          <h5>Consumo de Tabaco</h5>
          <span class="info">El paciente fuma:
            <span class="resp"
              *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.tabaquismo == 'No'">No <i
                class="fa fa-window-close" id="no"></i></span>
          </span>
          <span *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.tabaquismo == 'Si'">
            <span class="info"
              *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.tabaquismo == 'Si'">
              <span class="resp">Si <i class="fa fa-check-square" id="si"> </i></span></span>
            <br>
            <span class="info"
              *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.tabaquismo == 'Si'"> ¿Con
              que frecuencia? <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.tabaquismo_frecuencia}}</span>
            </span>
            <br>
            <span class="info"
              *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.tabaquismo == 'Si'"> ¿En
              qué cantidades? <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.tabaquismo_cantidad}}</span>
            </span>
            <br>
          </span>
        </div>

        <div class="col-10">
          <br>
          <h5>Consumo de alguna otra sustancia</h5>
          <span class="info">El paciente consume alguna sustancia psicoactiva:
            <span class="resp"
              *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.otras == 'No'">No <i
                class="fa fa-window-close" id="no"></i></span>
          </span>
          <span *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.otras == 'Si'">
            <span class="info"
              *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.otras == 'Si'"> <span
                class="resp">Si <i class="fa fa-check-square" id="si"> </i></span></span>
            <br>
            <span class="info"
              *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.otras == 'Si'"> ¿De qué
              tipo? <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.otras_tipo}}</span>
            </span>
            <br>
            <span class="info"
              *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.otras == 'Si'"> Último
              Consumo <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.otras_ultimo_consumo}}</span>
            </span>
            <br>
            <span class="info"
              *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.otras == 'Si'"> ¿Con que
              frecuencia? <span
                class="resp">{{currentPaciente.pac_antecedentes_data.Patologicos.sustancias_psicoactivas.otras_frecuencia}}</span>
            </span>
            <br>
          </span>
        </div>
      </div>

      <span *ngIf="currentPaciente.pac_antecedentes_data.Patologicos.Medicamentos">
        <hr class="line">

        <h4>Medicamentos</h4>
        <div class="row"
          *ngFor="let med of currentPaciente.pac_antecedentes_data.Patologicos.Medicamentos; let i = index">
          <div class="col-4">
            <span class="info">
              Medicamento: <span class="resp">{{med.pac_medicamento}}</span>
            </span>
          </div>
          <div class="col-4">
            <span class="info">
              Frecuencia de Consumo: <span class="resp">{{med.pac_frecuencia_consumo}}</span>
            </span>
          </div>
          <div class="col-4">
            <span class="info">
              Fecha de Inicio de Consumo: <span class="resp">{{med.pac_inicio_consumo}}</span>
            </span>
          </div>
        </div>
      </span>
    </div>
    <hr class="line">

    <h3><span *ngIf="currentPaciente.pac_sexo == 'F'">Gineco-obstétricos / </span>Androgenicos</h3>
    <span (click)="ginecoObstetrico = !ginecoObstetrico" [attr.aria-expanded]="!ginecoObstetrico"
      class="NoPatologicos"><i class="fa fa-eye"></i>Ver/Ocultar <span *ngIf="currentPaciente.pac_sexo == 'F'">Gineco-obstétricos / </span>Androgenicos</span>
    <div id="collapseBasic" [collapse]="ginecoObstetrico" [isAnimated]="true">
      <br>
      <h4>Actividad Sexual</h4>
      <div class="row">
        <div class="col-12">
          <span class="containerRespGO">
            <span class="infoGO">Paciente con vida sexual activa: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_vida_sexual_activa}}</span></span>
            <span class="infoGO">Inicio de la vida sexual del paciente: <span
                class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_inicio_vida_sexual}}</span></span>
          </span>

          <span class="containerRespGO" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_metodo_anticonceptivo_hormonal == 'DIU'">
            <span class="infoGO">Metodo anticonceptivo que usa el paciente: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_metodo_anticonceptivo}} ({{
              currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_metodo_anticonceptivo_hormonal_diu}})</span></span>
            <span class="infoGO">Tipo de relaciones sexuales: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_tipo_relaciones}}</span></span>
          </span>

          <span class="containerRespGO" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_metodo_anticonceptivo_hormonal == 'Implante'">
            <span class="infoGO">Metodo anticonceptivo que usa el paciente: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_metodo_anticonceptivo}} ({{
              currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_metodo_anticonceptivo_hormonal}})</span></span>
            <span class="infoGO">Tipo de relaciones sexuales: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_tipo_relaciones}}</span></span>
          </span>

          <span class="containerRespGO">
            <span class="infoME1">Número de compañeros sexuales: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_no_comp_sexuales }}</span></span>
            <span class="infoME1">Enfermedades de transmisión sexual: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_ets}}</span></span>
          </span>
          <span class="containerRespGO" *ngIf="currentPaciente.pac_sexo == 'M'">
            <span class="infoGO">Tipo de relaciones sexuales: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_tipo_relaciones}}</span></span>
            <span class="infoGO">Metodo anticonceptivo que usa el paciente: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_metodo_anticonceptivo}} </span></span>
          </span>
        </div>
      </div>
      <hr class="line">

      <h4 *ngIf="currentPaciente.pac_sexo == 'M'">Examen de Próstata</h4>
      <span *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_exam_prostata == 'Si'">
        <div class="row">
          <div class="col-12">
            <span class="infoME">El paciente se ha realizado el examen de prostata: <span
              class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_exam_prostata}}</span></span>
              <br>
            <span class="infoME">Fecha aproximada del examen: <span
              class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_exam_prostata_fecha}}</span></span>
              <br>
            <span class="infoME">Observaciones del examen: <span
              class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_exam_prostata_obs}}</span></span>
          </div>
        </div>
      </span>
      <span *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_exam_prostata == 'No'">
        <div class="row">
          <div class="col-12">
            <span class="infoME">El paciente se ha realizado el examen de prostata: <span
              class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_exam_prostata}}</span></span>
          </div>
        </div>
      </span>

      <span *ngIf="currentPaciente.pac_sexo == 'F'">
        <h4>Características de la menstruación</h4>
        <div class="row">
          <div class="col-12">
            <span class="containerME">
              <span class="infoME">Menarquía: <span
                  class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_menarquia}}</span></span>
              <span class="infoME">Última menstruación: <span
                  class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_carac_mens}}</span></span>
            </span>
            <span class="containerME">
              <span class="infoME">Duración: <span
                  class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_dias_mens}}</span></span>
              <span class="infoME">Cantidad de sangre: <span
                  class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cant_mens}}</span></span>
            </span>
            <span class="containerME">
              <span class="infoME">Frecuencia: <span
                  class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_frec_mens}}</span></span>
              <span class="infoME">Presencia del dolor: <span
                  class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_precencia_dolor_mens}}</span></span>
            </span>
          </div>
        </div>
      </span>
      <hr class="line">

      <span *ngIf="currentPaciente.pac_sexo == 'F'">
        <div class="row">
          <div class="col-12">
            <h4>Información de embarazos</h4>
            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_partos == 'Si'">
              <span class="infoME">La paciente cuenta con embarazos: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_partos}}</span></span>
              <span class="infoME">Número de embarazos: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cant_partos}}</span></span>
            </span>
            <!-- <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_partos == 'Si'">
              <span class="infoME">Fecha Aproximada del último parto: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_ultimo_parto}}</span></span>
              <span class="infoME">Observaciones: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_ultimo_parto_observacion}}</span></span>
            </span> -->

            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_partos == 'No'">
              <span class="infoME">La paciente cuenta con embarazos: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_partos}}</span></span>
            </span>
            <hr class="line">

            <h4>Información de gestaciones</h4>
            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_gestaciones == 'Si'">
              <span class="infoME">La paciente cuenta con gestaciones: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_gestaciones}}</span></span>
              <span class="infoME">Número de gestaciones: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cant_gestaciones}}</span></span>
            </span><!--
            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_gestaciones == 'Si'">
              <span class="infoME">Fecha Aproximada de la última gestación: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_ultima_gestacion}}</span></span>
              <span class="infoME">Observaciones: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_ultima_gestacion_observacion}}</span></span>
            </span> -->
            <hr class="line">

            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_gestaciones == 'No'">
              <span class="infoME">La paciente cuenta con gestaciones: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_gestaciones}}</span></span>
              <hr class="line">
            </span>

            <h4>Información de abortos</h4>
            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_abortos == 'Si'">
              <span class="infoME">La paciente cuenta con abortos: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_abortos}}</span></span>
              <span class="infoME">Número de abortos: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cant_abortos}}</span></span>
            </span>
            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_partos == 'Si'">
              <span class="infoME">Fecha Aproximada del último aborto: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_ultimo_aborto}}</span></span>
              <span class="infoME">Observaciones: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_ultimo_aborto_observacion}}</span></span>
            </span>

            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_abortos == 'No'">
              <span class="infoME">La paciente cuenta con abortos: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_abortos}}</span></span>
            </span>
            <hr class="line">

            <h4>Información de cesareas</h4>
            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cesareas == 'Si'">
              <span class="infoME">La paciente cuenta con cesaresa: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cesareas}}</span></span>
              <span class="infoME">Número de cesareas: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cant_cesareas}}</span></span>
            </span>
            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cesareas == 'Si'">
              <span class="infoME">Fecha Aproximada de la última cesarea: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_ultima_cesarea}}</span></span>
              <span class="infoME">Observaciones: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_ultima_cesarea_observacion}}</span></span>
            </span>

            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cesareas == 'No'">
              <span class="infoME">La paciente cuenta con cesaresa: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cesareas}}</span></span>
            </span>
            <hr class="line">

            <h4>Información de papanicolau</h4>
            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau == 'No'">
              <span class="infoME">La paciente se ha realizado papanicolau: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cesareas}}</span></span>
            </span>

            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau == 'Si'">
              <span class="infoME">La paciente se ha realizado papanicolau: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cesareas}}</span></span>
              <span class="infoME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau == 'Si'">Fecha Aproximada: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau_fecha}}</span></span>
            </span>
            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau == 'Si'">
              <span class="infoME" >Observaciones: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau_observacion}}</span></span>
            </span>
            <!-- <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau == 'No'">
              <span class="infoME">La paciente se ha realizado papanicolau: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_cesareas}}</span></span>
              <span class="infoME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau == 'Si'">Fecha Aproximada: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau_fecha}}</span></span>
            </span>
            <span class="containerME" *ngIf="currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau == 'Si'">
              <span class="infoME" >Observaciones: <span class="resp">{{currentPaciente.pac_antecedentes_data.GinecoObstrico.pac_papanicolau_observacion}}</span></span>
            </span> -->
            <hr class="line">
          </div>
        </div>
      </span>
      <span>
      </span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="form-row justify-content-center">
    <div class="col-md-12">
      <!-- <button type="button" *ngIf="editBand" class='btn btn-success' [disabled]="rForm.invalid"
                (click)="programarProspecto(rForm.value)">
                <span class='fa fa-save'> </span> Guardar
            </button>-->
      <button type="button" class='btn btn-danger' *ngIf="citasBand || antecedentesBand" (click)="activarDetalles()">
        <span class='fa fa-times-circle'> </span> Cancelar
      </button>
    </div>
  </div>
</div>
