<div class="card">
  <div class="card-header" *ngIf="idAdicional==null">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <h3 *ngIf="bandAddTitular">Agregar Paciente Titular</h3>
        <h3 *ngIf="bandAddAdicional">Agregar Paciente Adicional</h3>
        <h3 *ngIf="bandEditTitular">Editar Paciente Titular</h3>
        <h3 *ngIf="bandEditAdicional">Editar Paciente Adicional</h3>
        <form class="d-flex">
          <button class="btn btn-danger" type="button" (click)="goToPacientes()">Cancelar</button>
        </form>
      </div>
    </nav>

  </div>

  <div class="card-body">
    <!--<div class="form-row">
      <span *ngIf="bandAddAdicional">Nombre del titular desde el titular {{ currentTitular.pac_nombre_completo }} </span>
      <br>
    <span *ngIf="bandEditAdicional">Nombre del titular accediendo desde el Adicional {{ currentPaciente.pac_det_titular.pac_nombre_completo }} </span>
    <span *ngIf="bandEditAdicional">Nombre Adicional {{ currentPaciente.pac_nombre_completo }} </span>
    <span></span>
    </div>-->


    <div class="form-row" *ngIf="bandAddAdicional">
      <div class="col-3">
        <label class="col-form-label col-form-label-lg" for="pac_nombres">Nombre del Titular</label>
        <input id="parentesco" value="{{currentTitular.pac_nombre_completo}}" disabled placeholder="Nombre (s)" type="text"
          class="form-control form-control-lg">
      </div>
      <div class="col-3">
        <label class="col-form-label col-form-label-lg" for="pac_nombres">Teléfono del Titular</label>
        <input id="datosPac" value="{{currentTitular.pac_celular}}" disabled placeholder="Nombre (s)" type="text"
          class="form-control form-control-lg">
      </div>
      <div class="col-6">
        <label class="col-form-label col-form-label-lg">Parentesco <span class="asterisco">**</span></label>
        <select [(ngModel)]="parentesco" class="form-control col-form-label-lg" id="options">
          <option selected value="">Elige una opción</option>
          <option value="Esposa">Esposa</option>
          <option value="Esposo">Esposo</option>
          <option value="Padre">Padre</option>
          <option value="Madre">Madre</option>
          <option value="Suegro">Suegro</option>
          <option value="Suegra">Suegra</option>
          <option value="Hijo">Hijo</option>
        </select>
      </div>
    </div>

    <div class="form-row" *ngIf="bandEditAdicional">
      <div class="col-3">
        <label class="col-form-label col-form-label-lg" for="pac_nombres">Nombre del Titular</label>
        <input id="datosPac" value="{{nombreTitular}}" disabled placeholder="Nombre (s)" type="text"
          class="form-control form-control-lg">
      </div>
      <div class="col-3">
        <label class="col-form-label col-form-label-lg" for="pac_nombres">Teléfono del Titular</label>
        <input id="datosPac" value="{{telefonoTitular}}" disabled placeholder="Nombre (s)" type="text"
          class="form-control form-control-lg">
      </div>
      <div class="col-6">
        <label class="col-form-label col-form-label-lg">Parentesco <span class="asterisco">**</span></label>
        <select [(ngModel)]="parentesco" required id="parentesco"class="form-control col-form-label-lg">
          <option selected value="">Elige una opción</option>

          <option value="Padre">Padre</option>
          <option value="Madre">Madre</option>
          <option value="Suegro">Suegro</option>
          <option value="Suegra">Suegra</option>
          <option value="Hijo">Hijo</option>
        </select>
      </div>
    </div>

    <form [formGroup]="pacienteForm">

      <span>{{parentesco}}</span>
      <div class="form-row">
        <div class="col-6">
          <label class="col-form-label col-form-label-lg" for="pac_nombres">Nombre (S) <span class="asterisco">**</span></label>
          <input id="pac_nombres" formControlName="pac_nombres" placeholder="Nombre (s)" type="text"
            class="form-control form-control-lg">
        </div>

        <div class="col-3">
          <label class="col-form-label col-form-label-lg" for="pac_primer_apellido">Primer apellido <span class="asterisco">**</span></label>
          <input id="pac_primer_apellido" formControlName="pac_primer_apellido" placeholder="Primer apellido"
            type="text" class="form-control form-control-lg">
        </div>
        <div class="col-3">
          <label class="col-form-label col-form-label-lg" for="pac_segundo_apellido">Segundo apellido <span class="asterisco">**</span> </label>
          <input id="pac_segundo_apellido" formControlName="pac_segundo_apellido" placeholder="Segundo apellido"
            type="text" class="form-control form-control-lg">
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          <label class="col-form-label col-form-label-lg" for="pac_curp">CURP <span class="asterisco">**</span></label>
          <input id="pac_curp" formControlName="pac_curp" placeholder="C U R P" type="text"
            class="form-control form-control-lg" [ngClass]="{ 'is-invalid': f.pac_curp.errors }">
            <div class="invalid-feedback" *ngIf="f.pac_curp.errors">
              <div *ngIf="f.pac_curp.errors.pattern">Formato de CURP invalido</div>
            </div>
        </div>


        <div class="col-6">
          <label class="col-form-label col-form-label-lg" for="pac_f_nacimiento">Fecha de nacimiento</label>
          <input id="pac_f_nacimiento" formControlName="pac_f_nacimiento" placeholder="DD/MM/AAAA" type="date"
            class="form-control form-control-lg">
        </div>
      </div>

      <div class="form-row">
        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_email">Correo electrónico</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input id="pac_email" formControlName="pac_email" placeholder="ejemplo@dominio.com" type="text"
              class="form-control form-control-lg">
          </div>
        </div>

        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_telefono">Teléfono fijo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-phone"></i>
              </div>
            </div>
            <input id="pac_telefono" formControlName="pac_telefono" placeholder="(000)-000-000" type="text"
              class="form-control form-control-lg">
          </div>
        </div>

        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_celular">Teléfono celular <span class="asterisco">**</span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-mobile-phone"></i>
              </div>
            </div>
            <input id="pac_celular" formControlName="pac_celular" placeholder="(000)-000-000" type="text"
              class="form-control form-control-lg">
          </div>
          <small *ngIf="bandAddAdicional" class="adicional">Si el paciente adicional no cuenta con un teléfono agregar el de su titular.</small>
        </div>
      </div>

      <div class="form-row">
        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_estado_civil">Estado Civil</label>
          <select id="pac_estado_civil" formControlName="pac_estado_civil" class="form-control form-control-lg">
            <option value="" selected>Elige una opción...</option>
            <option value="Soltero">Soltero(a)</option>
            <option value="Casado">Casado(a)</option>
            <option value="Separado">Separado(a)</option>
            <option value="Divorciado">Divorciado(a)</option>
            <option value="Union Libre">Union Libre</option>
            <option value="Viudo">Viudo(a)</option>
          </select>
        </div>

        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_escolaridad">Escolaridad</label>
          <select id="pac_escolaridad" formControlName="pac_escolaridad" class="form-control col-form-label-lg">
            <option selected value="">Elige una opción</option>
            <option value="Primaria">Primaria</option>
            <option value="Secundaria">Secundaria</option>
            <option value="Bachillerato">Bachillerato</option>
            <option value="Carrera Tecnica">Carrera Técnica</option>
            <option value="Licenciatura">Licenciatura</option>
            <option value="Posgrado">Posgrado</option>
          </select>
        </div>

        <div class="col-4" *ngIf="idAdicional==null">
          <div class="">
            <label class="col-form-label col-form-label-lg" for="inputG"> Genero/Sexo </label>
          </div>
          <div class="form-row text-center">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="radioMale" formControlName="pac_sexo" value="M">
              <label class="custom-control-label" for="radioMale"><span class="fa fa-male"></span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="radiofemale" formControlName="pac_sexo" value="F">
              <label class="custom-control-label" for="radiofemale"><span class="fa fa-female"></span></label>
            </div>
          </div>
        </div>

        <div class="col-4" *ngIf="idAdicional!=null">
          <div class="">
            <label class="col-form-label col-form-label-lg" for="inputG"> Genero/Sexo </label>
          </div>
          <div class="form-row text-center">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="radioMaleAd" formControlName="pac_sexo" value="M">
              <label class="custom-control-label" for="radioMaleAd"><span class="fa fa-male"></span></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="radiofemaleAd" formControlName="pac_sexo" value="F">
              <label class="custom-control-label" for="radiofemaleAd"><span class="fa fa-female"></span></label>
            </div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_pais">País</label>
          <input id="pac_pais" formControlName="pac_pais" readonly placeholder="Nombre (s)" type="text"
            class="form-control form-control-lg">
        </div>
        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_estado">Estado</label>
          <select id="pac_estado" #estados formControlName="pac_estado" (change)="getMunicipios(estados.value)"
            class="form-control col-form-label-lg">
            <option value="" disabled="true">Selecciona una opcion</option>
            <option value="Aguascalientes">Aguascalientes</option>
            <option value="Baja California">Baja California</option>
            <option value="Baja California Sur">Baja California Sur</option>
            <option value="Campeche">Campeche</option>
            <option value="Ciudad de México">Ciudad de México</option>
            <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
            <option value="Colima">Colima</option>
            <option value="Chiapas">Chiapas</option>
            <option value="Chihuahua">Chihuahua</option>
            <option value="Durango">Durango</option>
            <option value="Guanajuato">Guanajuato</option>
            <option value="Guerrero">Guerrero</option>
            <option value="Hidalgo">Hidalgo</option>
            <option value="Jalisco">Jalisco</option>
            <option value="México">México</option>
            <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
            <option value="Morelos">Morelos</option>
            <option value="Nayarit">Nayarit</option>
            <option value="Nuevo León">Nuevo León</option>
            <option value="Oaxaca">Oaxaca</option>
            <option value="Puebla">Puebla</option>
            <option value="Querétaro">Querétaro</option>
            <option value="Quintana Roo">Quintana Roo</option>
            <option value="San Luis Potosí">San Luis Potosí</option>
            <option value="Sinaloa">Sinaloa</option>
            <option value="Sonora">Sonora</option>
            <option value="Tabasco">Tabasco</option>
            <option value="Tamaulipas">Tamaulipas</option>
            <option value="Tlaxcala">Tlaxcala</option>
            <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>
            <option value="Yucatán">Yucatán</option>
            <option value="Zacatecas">Zacatecas</option>
          </select>
        </div>
        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_municipio">Municipio</label>
          <select id="pac_municipio" formControlName="pac_municipio" class="form-control col-form-label-lg">
            <option value="" disabled="true">Selecciona una opcion</option>
            <option *ngFor="let x of municipios" value="{{x}}">{{x}}</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_localidad">Localdad</label>
          <input id="pac_localidad" formControlName="pac_localidad" placeholder="Localidad" type="text"
            class="form-control form-control-lg">
        </div>
        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_dir_cp">Código postal</label>
          <input id="pac_dir_cp" formControlName="pac_dir_cp" placeholder="Código postal" type="text"
            class="form-control form-control-lg">
        </div>
        <div class="col-4">
          <label class="col-form-label col-form-label-lg" for="pac_dir_colonia">Colonia</label>
          <input id="pac_dir_colonia" formControlName="pac_dir_colonia" placeholder="Colonia..." type="text"
            class="form-control form-control-lg">
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          <label class="col-form-label col-form-label-lg" for="pac_dir_calle">Calle y número</label>
          <input id="pac_dir_calle" formControlName="pac_dir_calle" placeholder="Calle" type="text"
            class="form-control form-control-lg">
        </div>
        <div class="col-6">
          <label class="col-form-label col-form-label-lg" for="pac_dir_comentarios">Comentarios
            Generales</label>
          <input id="pac_dir_comentarios" formControlName="pac_dir_comentarios" placeholder="Comentarios Generales"
            type="text" class="form-control form-control-lg">
        </div>
      </div>

      <div class="form-row" *ngIf="bandEditTitular">
        <label class="col-form-label col-form-label-lg" for="pac_dir_calle">Adicionales</label>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Parentesco</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ad of prueba">
              <td>{{ad.nombre_completo}}</td>
              <td>{{ad.parentesco}}</td>
              <td><button class="btn btn-success" (click)="editModalShow(ad.id)">Editar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center">
      <button class="btn btn-success me-md-2" type="button"
        (click)="addPacTitular()" [disabled]="!pacienteForm.valid" *ngIf="bandAddTitular">Guardar Titular</button>
      <button class="btn btn-success me-md-2" type="button"
        (click)="addPacAdicional()" *ngIf="bandAddAdicional" [disabled]="parentesco == '' || !pacienteForm.valid">Guardar Adicional</button>
      <button class="btn btn-success me-md-2" (click)="updatePaciente()" type="button"
        [disabled]="!pacienteForm.valid" *ngIf="bandEditTitular || bandEditAdicional">Actualizar</button>
        <div *ngIf="idAdicional==null">
          <button class="btn btn-danger" type="button" (click)="goToPacientes()">Cancelar</button>
        </div>
        <div *ngIf="idAdicional!=null">
          <button class="btn btn-danger" type="button" (click)="closeModal()">Cancelar</button>
        </div>
    </div>
    <h5>Los campos marcados con <span class="asterisco">**</span> son obligatorios.</h5>

  </div>

</div>
