<button class="btn btn-info btn-xs" (click)="editarUserShow()" title="Editar"><i class="fa fa-edit"></i></button>
<!--<button class="btn btn-info btn-xs" title="Ver"><i
  class="fa fa-eye"></i></button>-->
<button class="btn btn-info btn-xs" *ngIf="params.pac_tipo == 'titular'" (click)="addUserAdicional()"
  title="Adicionales"><i class="fa fa-users"></i>Agregar adicional</button>
<button class="btn btn-warning btn-xs" (click)="verInfoShow()" title="Detalles Paciente"><i class="fa fa-info-circle"></i></button>