<mat-horizontal-stepper [linear] #stepper>
  <mat-step [stepControl]="">
    <ng-template matStepLabel>Antecedentes HeredoFamiliares</ng-template>
      <!-- <form [formGroup]="heredoFamForm" (ngSubmit)="submit()"> -->
        <form [formGroup]="heredoFamForm">
          <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th class="col-1">Padre</th>
              <th class="col-1">Madre</th>
              <th class="col-1">Abuelos Paternos</th>
              <th class="col-1">Abuelos Maternos</th>
              <th class="col-1">Hermano(s)</th>
              <th class="col-1">Otro(s)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let enf of heredoFamForm.controls['padre'].controls; let i = index">
              <td>{{enfermedades[i].enf}}</td>
              <td><label formArrayName="padre"><input type="checkbox" class="form-check-input" [formControlName]="i"></label></td>
              <td><label formArrayName="madre"><input type="checkbox" [formControlName]="i"></label></td>
              <td><label formArrayName="abuelosPaternos"><input type="checkbox" [formControlName]="i"></label></td>
              <td><label formArrayName="abuelosMaternos"><input type="checkbox" [formControlName]="i"></label></td>
              <td><label formArrayName="hermanos"><input type="checkbox" [formControlName]="i"></label></td>
              <td><label formArrayName="otros"><input type="checkbox" [formControlName]="i"></label></td>
            </tr>
          </tbody>
        </table>
        <hr>
          <div class="row">
            <div class="col-12">
              <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
              <textarea class="form-control" formControlName="observaciones" rows="3"></textarea>
            </div>
          </div>
      </form>
      <br>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-3"></div>
        <div class="col-5">
          <mat-checkbox required>Finalizar Antecedentes HeredoFamiliares</mat-checkbox>
          <button class="btn btn-primary" matStepperNext>Siguiente</button>
        </div>
      </div>
  </mat-step>

  <mat-step [stepControl]="">
    <ng-template matStepLabel>No Patologicos</ng-template>
      <form [formGroup]="NoPatologicosForm">
        <div class="row">
          <div class="col-2">
            <br>
            <label for="" class="form-label">Número de habitaciones:</label>
            <input type="text" formControlName="pac_NumeroHabitaciones" id="" class="form-control">
          </div>
          <div class="col-2">
            <br>
            <br>
            <label for="" class="form-label">Número de habitantes: </label>
            <input type="text" formControlName="pac_NumeroHabitantes" id="" class="form-control">
          </div>
        </div>

        <hr class="line">
        <h5><i class="fa fa-paw" id="pet"></i> Mascotas</h5>
        <div class="col-6">
          <mat-radio-group formControlName="pac_mascota">
            <mat-radio-button value="Si">Si</mat-radio-button>
            <mat-radio-button class="no" value="No">No</mat-radio-button>
          </mat-radio-group>
          <br>
          <span *ngIf="NoPatologicosForm.get('pac_mascota').value == 'Si'">
            <label for="exampleInputEmail1" class="form-label">Especifíque el tipo de mascota:</label>
            <input type="text" class="form-control" id="input" formControlName="pac_mascota_tipo"
              aria-describedby="textHelp">
          </span>
        </div>
        <hr class="line">

        <h5><i class="fa fa-cutlery" id="alimentacion"></i> Alimentación</h5>
        <div class="row">
          <div class="col-4">
            <label for="" class="form-label">Consume cualquier tipo de pan</label>
            <br>
            <mat-radio-group formControlName="pac_ConsumoDePan">
              <mat-radio-button value="Si">Si</mat-radio-button>
              <mat-radio-button class="no" value="No">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-4">
            <label for="" class="form-label">Consume refrescos</label>
            <br>
            <mat-radio-group formControlName="pac_ConsumoDeRefresco">
              <mat-radio-button value="Si">Si</mat-radio-button>
              <mat-radio-button class="no" value="No">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-4">
            <label for="" class="form-label">Agrega sal a la comida</label>
            <br>
            <mat-radio-group formControlName="pac_ConsumoDeSal">
              <mat-radio-button value="Si">Si</mat-radio-button>
              <mat-radio-button class="no" value="No">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <br>
          <div class="col-3">
            <label for="" class="form-label">Cantidad de Comidas al dia</label>
            <input type="text" formControlName="pac_CantidadDeComidasAlDia" id="" class="form-control">
          </div>
          <div class="col-4">
            <label for="" class="form-label">Cantidad de aproximada de grupos alimenticios</label>
            <input type="text" formControlName="pac_GruposAlimenticios" id="" class="form-control">
          </div>
          <div class="col-5">
            <label for="" class="form-label">Frecuencia de alimentos fritos, capeados o empanizados</label>
            <select class="form-control" formControlName="pac_ConsumoDeAlimentosCapeados">
              <option value="Muy poco">Muy poco</option>
              <option value="Algunas Veces">Algunas Veces</option>
              <option value="Frecuentemente">Frecuentemente</option>
            </select>
          </div>
          <br>
          <hr class="line">
        </div>
        <hr class="line">

        <h5><i class="fa fa-heartbeat" id="heart"></i> Actividad Física</h5>
        <button class="btn btn-success" (click)="addActividades()" id="addActividades">Registrar actividad
          física</button>
        <div class="row">
          <span formArrayName="Actividades_Fisicas">
            <span *ngFor="let ActividadesFisicasForm of act_fisicas.controls; let i=index">
              <div class="row" id="actividades_fisicas" [formGroup]="ActividadesFisicasForm">
                <div class="col-5">
                  <label for="" class="form-label">Actividad Físca</label>
                  <input type="text" class="form-control" formControlName="pac_actividad_fisica">
                </div>
                <div class="col-6">
                  <label for="" class="form-label">Frecuencia de actividad física</label>
                  <select class="form-control" id="options" formControlName="pac_actividad_frec">
                    <option value="Diario">Diario</option>
                    <option value="Semanal">Semanal</option>
                    <option value="Mensual">Mensual</option>
                  </select>
                </div>
                <div class="col-1">
                  <button class="btn btn-danger" id="btn-danger" (click)="deleteActividad(i)">Quitar</button>
                </div>
              </div>
            </span>
          </span>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
            <textarea class="form-control" formControlName="observaciones" rows="3"></textarea>
          </div>
        </div>
      </form>
      <hr class="line">
      <br>
      <div id="btns">
        <button class="btn btn-danger" mat-button matStepperPrevious>Back</button>
        <mat-checkbox required>Finalizar No Patologicos</mat-checkbox>
        <button class="btn btn-primary" matStepperNext>Siguiente</button>
      </div>
  </mat-step>
  <mat-step [stepControl]="">
    <ng-template matStepLabel>Patologicos</ng-template>
      <form action="" [formGroup]="PatologiasForm">
        <div class="row">
          <div class="col-4">
            <form [formGroup]="AlergiasForm">
              <label for="">Alergias</label>
              <br>
              <mat-radio-group formControlName="alergias">
                <mat-radio-button value="Si">Si</mat-radio-button>
                <mat-radio-button class="no" value="No">No</mat-radio-button>
              </mat-radio-group>
              <br>
              <span *ngIf="AlergiasForm.get('alergias').value == 'Si'">
                <label for="exampleInputEmail1" class="form-label">Especifíque el tipo de alergia:</label>
                <input type="text" class="form-control" id="input" formControlName="alergia_tipo"
                  aria-describedby="textHelp">
              </span>
            </form>
            <hr class="line">

            <form [formGroup]="HospitalizacionesForm">
              <label for="">Hospitalizaciones</label>
              <br>
              <mat-radio-group formControlName="hospitalizaciones">
                <mat-radio-button value="Si">Si</mat-radio-button>
                <mat-radio-button class="no" value="No">No</mat-radio-button>
              </mat-radio-group>
              <br>
              <span *ngIf="HospitalizacionesForm.get('hospitalizaciones').value == 'Si'">
                <hr>
                <label for="exampleInputtext1" class="form-label">Fecha Aproximada:</label>
                <input type="date" class="form-control" id="date" formControlName="hospitalizacion_fecha"
                  aria-describedby="textHelp">
                  <br>
                <label for="exampleInputtext1" class="form-label">Causas:</label>
                <input type="text" class="form-control" id="input" formControlName="hospitalizacion_causa"
                  aria-describedby="textHelp">
                  <br>
                <label for="exampleInputtext1" class="form-label">Posibles secuelas:</label>
                <input type="text" class="form-control" id="input" formControlName="hospitalizacion_secuela"
                  aria-describedby="textHelp">
              </span>
            </form>
            <hr class="line">

            <form [formGroup]="QuirurgicasForm">
              <label for="">Operaciones Quirurgícas</label>
              <br>
              <mat-radio-group formControlName="quirurgicas">
                <mat-radio-button value="Si">Si</mat-radio-button>
                <mat-radio-button class="no" value="No">No</mat-radio-button>
              </mat-radio-group>
              <br>
              <span *ngIf="QuirurgicasForm.get('quirurgicas').value == 'Si'">
                <hr>
                <label for="exampleInputtext1" class="form-label">Fecha Aproximada:</label>
                <input type="date" class="form-control" id="input" formControlName="quirurgico_fecha"
                  aria-describedby="textHelp">
                  <br>
                <label for="exampleInputtext1" class="form-label">Causas:</label>
                <input type="text" class="form-control" id="input" formControlName="quirurgico_causa"
                  aria-describedby="textHelp">
                  <br>
                <label for="exampleInputtext1" class="form-label">Posibles secuelas:</label>
                <input type="text" class="form-control" id="input" formControlName="quirurgico_secuela"
                  aria-describedby="textHelp">
              </span>
            </form>
            <hr class="line">

            <form [formGroup]="TraumaticosForm">
              <label for="">Traumatismos</label>
              <br>
              <mat-radio-group formControlName="traumaticos">
                <mat-radio-button value="Si">Si</mat-radio-button>
                <mat-radio-button class="no" value="No">No</mat-radio-button>
              </mat-radio-group>
              <br>
              <span *ngIf="TraumaticosForm.get('traumaticos').value == 'Si'">
                <hr>
                <label for="exampleInputtext1" class="form-label">Fecha Aproximada:</label>
                <input type="date" class="form-control" id="input" formControlName="traumatismo_fecha"
                  aria-describedby="textHelp">
                <br>
                <label for="exampleInputtext1" class="form-label">Tipo de Lesión:</label>
                <input type="text" class="form-control" id="input" formControlName="traumatismo_tipo"
                  aria-describedby="textHelp">
                <br>
                <label for="exampleInputtext1" class="form-label">Causas:</label>
                <input type="text" class="form-control" id="input" formControlName="traumatismo_causa"
                  aria-describedby="textHelp">
                <br>
                <label for="exampleInputtext1" class="form-label">Posibles secuelas:</label>
                <input type="text" class="form-control" id="input" formControlName="traumatismo_secuela"
                  aria-describedby="textHelp">
              </span>
            </form>
            <hr class="line">

            <form [formGroup]="TransfusionesForm">
              <label for="">Transfusiones</label>
              <br>
              <mat-radio-group formControlName="transfusiones">
                <mat-radio-button value="Si">Si</mat-radio-button>
                <mat-radio-button class="no" value="No">No</mat-radio-button>
              </mat-radio-group>
              <br>
              <span *ngIf="TransfusionesForm.get('transfusiones').value == 'Si'">
                <hr>
                <label for="exampleInputtext1" class="form-label">Fecha Aproximada:</label>
                <input type="date" class="form-control" id="input" formControlName="transfusion_fecha"
                  aria-describedby="textHelp">
                <br>
                <label for="exampleInputtext1" class="form-label">Causas:</label>
                <input type="text" class="form-control" id="input" formControlName="transfusion_causa"
                  aria-describedby="textHelp">
              </span>
            </form>

            <hr class="line">
            <br>
            <br>
            <br>

            <form [formGroup]="PsicoactivasForm">
              <label for="">¿Consume alguna sustancia Psicoactiva?</label>
              <br>
              <mat-radio-group formControlName="consumo_alguna_sustancia">
                <mat-radio-button value="Si">Si</mat-radio-button>
                <mat-radio-button class="no" value="No">No</mat-radio-button>
              </mat-radio-group>
              <span *ngIf="PsicoactivasForm.get('consumo_alguna_sustancia').value == 'Si'">
                <hr>
                <mat-radio-group formControlName="sustancia_psicoactiva_alcohol"> Alcohol
                  <mat-radio-button value="Si">Si</mat-radio-button>
                  <mat-radio-button class="no" value="No">No</mat-radio-button>
                </mat-radio-group>
                <br>
                <span *ngIf="PsicoactivasForm.get('sustancia_psicoactiva_alcohol').value == 'Si'">
                  <hr>
                  <label for="exampleInputtext1" class="form-label">Frecuencia de consumo:</label>
                  <select class="form-control" formControlName="sustancia_psicoactiva_alcohol_frecuencia">
                    <option value="Nunca">Nunca</option>
                    <option value="Muy poco">Muy poco</option>
                    <option value="Algunas Veces">Algunas Veces</option>
                    <option value="Frecuentemente">Frecuentemente</option>
                  </select>
                  <br>
                  <label for="exampleInputtext1" class="form-label">Cantidad de consumo:</label>
                  <input type="text" class="form-control" id="input" formControlName="sustancia_psicoactiva_alcohol_cantidad">
                </span>
                <hr class="line">

                <mat-radio-group formControlName="sustancia_psicoactiva_tabaco"> Tabaco
                  <mat-radio-button value="Si">Si</mat-radio-button>
                  <mat-radio-button class="no" value="No">No</mat-radio-button>
                </mat-radio-group>
                <br>
                <span *ngIf="PsicoactivasForm.get('sustancia_psicoactiva_tabaco').value == 'Si'">
                  <hr>
                  <label for="exampleInputtext1" class="form-label">Frecuencia de consumo:</label>
                  <select class="form-control" formControlName="sustancia_psicoactiva_tabaco_frecuencia">
                    <option value="Nunca">Nunca</option>
                    <option value="Muy poco">Muy poco</option>
                    <option value="Algunas Veces">Algunas Veces</option>
                    <option value="Frecuentemente">Frecuentemente</option>
                  </select>
                  <br>
                  <label for="exampleInputtext1" class="form-label">Cantidad de consumo:</label>
                  <input type="text" class="form-control" id="input" formControlName="sustancia_psicoactiva_tabaco_cantidad"
                    aria-describedby="textHelp">
                </span>
                <hr class="line">

                <mat-radio-group formControlName="sustancia_psicoactiva_otra"> Otra(s)
                  <mat-radio-button value="Si">Si</mat-radio-button>
                  <mat-radio-button class="no" value="No">No</mat-radio-button>
                </mat-radio-group>
                <br>
                <span *ngIf="PsicoactivasForm.get('sustancia_psicoactiva_otra').value == 'Si'">
                  <hr>
                  <label for="exampleInputtext1" class="form-label">¿Qué tipo?:</label>
                  <input type="text" class="form-control" id="input" formControlName="sustancia_psicoactiva_otra_tipo"
                    aria-describedby="textHelp">
                  <br>
                  <label for="exampleInputtext1" class="form-label">Último consumo:</label>
                  <input type="date" class="form-control" id="input" formControlName="sustancia_psicoactiva_otra_ultimo_consumo"
                    aria-describedby="textHelp">
                  <br>
                  <label for="exampleInputtext1" class="form-label">Frecuencia de consumo:</label>
                  <select class="form-control" formControlName="sustancia_psicoactiva_otra_frecuencia">
                    <option value="Nunca">Nunca</option>
                    <option value="Muy poco">Muy poco</option>
                    <option value="Algunas Veces">Algunas Veces</option>
                    <option value="Frecuentemente">Frecuentemente</option>
                  </select>
                </span>
              </span>
              <hr class="line">
            </form>

          </div>
          <div class="col-8">
            <span *ngFor="let enf of PatologiasForm.controls['patologias'].controls; let i = index">
              <label class="patologia" formArrayName="patologias"><input type="checkbox" [formControlName]="i">
                {{patologicas[i].value}}</label>
            </span>
            <hr class="line">
            <h5>Medicamentos</h5>
            <button type="submit" class="btn btn-primary" (click)="addMedicamento()"><i class="fa fa-plus"
                aria-hidden="true"></i> Agregar Medicamentos</button>
            <ng-container formArrayName="Medicamento">
              <ng-container *ngFor="let MedicamentosForm of list_medicamentos.controls; let i = index">
                <br>
                <div class="row" id="Medicamentos" [formGroup]="MedicamentosForm">
                  <br>
                  <div class="col-3">
                    <label for="" class="form-label">Nombre del medicamento</label>
                    <input type="text" class="form-control" formControlName="medicamento_nombre">
                  </div>
                  <div class="col-3">
                    <label for="" class="form-label">Frecuencia de consumo (Por semana)</label>
                    <select class="form-control" id="options" formControlName="medicamento_frecuencia_consumo">
                      <option value="De 0 a 2 veces">De 0 a 2 veces</option>
                      <option value="De 3 a 5 veces">De 3 a 5 veces</option>
                      <option value="Mas de 6 veces">Mas de 6 veces</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <label for="" class="form-label">Fecha del primer consumo:</label>
                    <input type="date" class="form-control" formControlName="medicamento_inicio_de_consumo">
                  </div>
                  <div class="col-1">
                    <button class="btn btn-danger" id="btn-danger" (click)="deleteMedicamento(i)">Quitar</button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
            <textarea class="form-control" formControlName="observaciones" rows="3"></textarea>
          </div>
        </div>
      </form>
      <br>
      <hr class="line">
      <div id="btns">
        <button class="btn btn-danger" mat-button matStepperPrevious>Back</button>
        <mat-checkbox required>
          Finalizar Patologias</mat-checkbox>
        <button class="btn btn-primary" matStepperNext>Siguiente</button>
      </div>

  </mat-step>
  <mat-step [stepControl]="" label="Gineco-obstétricos / Androgenicos">
      <form [formGroup]="GinecoObstricoForm">
        <div class="row">
          <div class="col-6" *ngIf="pac_sexo == 'F'">
            <label for="">Menarquía</label>
            <select class="form-control" id="options" formControlName="pac_menarquia">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-6" *ngIf="pac_sexo == 'M'">
            <h5>Examen de Prostata</h5>
            <label class="form-label">Último examen de Prostata</label>
            <select class="form-control" id="options" formControlName="ExamenProstata">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
            <span *ngIf="this.GinecoObstricoForm.get('ExamenProstata').value == 'Si'">
              <label for="" class="form-label">Fecha Aproximada del último examen de prostata</label>
              <input type="date" class="form-control" formControlName="fecha_ultimo_Examen_Prostatico">
              <label for="floatingTextarea2">Observaciones realizadas en este examen</label>
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px" formControlName="observaciones_ultimo_examen_prostatico"></textarea>
            </span>
          </div>
          <div class="col-6" *ngIf="pac_sexo == 'F' && this.GinecoObstricoForm.get('pac_menarquia').value == 'Si'">
            <h5>Características de la menstruación</h5>
            <label class="form-label">Última Menstruación</label>
            <input type="date" class="form-control" formControlName="menstruacion_fecha_Ultima">
            <br>
            <div class="row">
              <div class="col-3">
                <label for="" class="form-label">Duración (Días):</label>
              </div>
              <div class="col-9">
                <input type="text" id="" class="form-control" formControlName="menstruacion_duracion">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Cantidad de sangre</label>
                <select class="form-control" id="options" formControlName="menstruacion_cantidad">
                  <option selected value="No especificado">No especificado</option>
                  <option value="Leve">Leve</option>
                  <option value="Moderado">Moderado</option>
                  <option value="Abundante">Abundante</option>
                </select>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Frecuencia</label>
                <select class="form-control" id="options" formControlName="menstruacion_frecuencia">
                  <option value="Alta">Alta</option>
                  <option value="Baja">Baja</option>
                  <option value="Moderada">Moderada</option>
                </select>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-4">
                <label for="" class="form-label">Presencia de dolor: </label>
                <select class="form-control" id="options" formControlName="menstruacion_presencia_De_Dolor">
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <br>
            <label for="floatingTextarea2">Presencia de otras secreciones vaginales</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
              style="height: 100px" formControlName="menstruacion_otras_secreciones"></textarea>
          </div>

          <div class="col-6">
            <h5>Actividad Sexual</h5>
            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Vida sexual activa</label>
                <select formControlName="androgenico_vida_sexual_activa" class="form-control" id="options">
                  <option selected value="">Seleccione una opción</option>
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-8">
                <label for="" class="form-label">Edad inicio actividad sexual:</label>
                <input type="text" formControlName="androgenico_inicio_vida_sexual" id="" class="form-control">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-8">
                <label for="" class="form-label">Número de compañeros sexuales:</label>
                <input type="text" formControlName="androgenico_no_comp_sexuales" id="" class="form-control">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-8">
                <span *ngIf="pac_sexo == 'M'">
                  <label for="" class="form-label">Metodo Anticonceptivo:</label>
                  <select class="form-control" formControlName="androgenico_metodo_anticonceptivo" id="options">
                    <option value="Ninguno">Ninguno</option>
                    <option value="Preservativo">Preservativo</option>
                  </select>
                </span>
                <span *ngIf="pac_sexo == 'F'">
                  <label for="" class="form-label">Metodo Anticonceptivo:</label>
                  <select class="form-control" formControlName="androgenico_metodo_anticonceptivo" id="options">
                    <option value="Ninguno">Ninguno</option>
                    <option value="Preservativo">Preservativo</option>
                    <option value="Hormonal">Hormonal</option>
                  </select>
                  <span *ngIf="this.GinecoObstricoForm.get('androgenico_metodo_anticonceptivo').value == 'Hormonal'">
                    <br>
                    <label for="" class="form-label">Metodo Anticonceptivo:</label>
                    <select class="form-control" formControlName="androgenico_metodo_anticonceptivo_hormonal" id="options">
                      <option value="Pastillas">Ninguno</option>
                      <option value="Inyección">Inyección</option>
                      <option value="DIU">DIU</option>
                      <option value="Implante">Implante</option>
                      <option value="Oral">Oral</option>
                    </select>
                    <span *ngIf="this.GinecoObstricoForm.get('androgenico_metodo_anticonceptivo_hormonal').value == 'DIU'">
                      <br>
                      <label for="" class="form-label">Metodo Anticonceptivo:</label>
                      <select class="form-control" formControlName="androgenico_pac_metodo_anticonceptivo_hormonal_diu"
                        id="options">
                        <option value="Cobre">Cobre</option>
                        <option value="Medicinal">Medicinal</option>
                      </select>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Tipo de relaciones</label>
                <input type="text" formControlName="androgenico_tipo_relaciones" id="" class="form-control">
              </div>
            </div>
            <br>

            <label for="floatingTextarea2">Enfermedades de transmisión sexual</label>
            <textarea class="form-control" formControlName="androgenico_ets" placeholder="Leave a comment here"
              style="height: 100px"></textarea>
          </div>
        </div>
        <hr class="line">
        <div class="row">
          <div class="col-6" *ngIf="pac_sexo == 'F'">
            <h5>Información de embarazos</h5>
            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Gestaciones</label>
                <select class="form-control" formControlName="pac_gestaciones" id="options">
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
                <span *ngIf="this.GinecoObstricoForm.get('pac_gestaciones').value == 'Si'">
                  <label for="" class="form-label">No. de Gestaciones</label>
                  <input type="number" min="0" max="15" formControlName="gestacion_cantidad" id=""
                    class="form-control">
                  <label for="" class="form-label">Fecha Aproximada del último aborto</label>
                  <input type="date" class="form-control" formControlName="gestacion_ultima_fecha" id="">
                  <label for="" class="form-label">Observaciones</label>
                  <textarea class="form-control" formControlName="gestacion_observacion"
                    placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                </span>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Partos</label>
                <select class="form-control" formControlName="pac_partos" id="options">
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
                <span *ngIf="this.GinecoObstricoForm.get('pac_partos').value == 'Si'">
                  <label for="" class="form-label">No. de partos</label>
                  <input type="number" min="0" max="15" formControlName="parto_cantidad" id=""
                    class="form-control">
                  <label for="" class="form-label">Fecha Aproximada del último parto</label>
                  <input type="date" class="form-control" formControlName="parto_ultima_fecha" id="">
                  <label for="" class="form-label">Observaciones</label>
                  <textarea class="form-control" formControlName="parto_observacion"
                    placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                </span>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Abortos</label>
                <select class="form-control" formControlName="pac_abortos" id="options">
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
                <span *ngIf="this.GinecoObstricoForm.get('pac_abortos').value == 'Si'">
                  <label for="" class="form-label">Número de abortos</label>
                  <input type="number" min="0" max="15" formControlName="aboto_cantidad" id=""
                    class="form-control">
                  <label for="" class="form-label">Fecha Aproximada del último aborto</label>
                  <input type="date" class="form-control" formControlName="aborto_ultima_fecha" id="">
                  <label for="" class="form-label">Observaciones</label>
                  <textarea class="form-control" formControlName="aborto_observacion"
                    placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                </span>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Cesareas</label>
                <select class="form-control" formControlName="pac_cesareas" id="options">
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
                <span *ngIf="this.GinecoObstricoForm.get('pac_cesareas').value == 'Si'">
                  <label for="" class="form-label">Fecha Aproximada de la última cesarea</label>
                  <input type="number" min="0" max="15" formControlName="cesarea_cantidad" id=""
                    class="form-control">
                  <label for="" class="form-label">Fecha Aproximada de la última cesarea</label>
                  <input type="date" class="form-control" formControlName="cesarea_ultima_fecha" id="">
                  <label for="" class="form-label">Observaciones</label>
                  <textarea class="form-control" formControlName="cesarea_observacion"
                    placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                </span>
              </div>
            </div>
            <br>

          </div>

          <div class="col-6" *ngIf="pac_sexo == 'F'">
            <h5>Panicolao/Tamis de mama</h5>
            <label for="" class="form-label">Se ha realizado papanicolau</label>
            <select class="form-control" formControlName="pac_papanicolau" id="options">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
            <span *ngIf="this.GinecoObstricoForm.get('pac_papanicolau').value == 'Si'">
              <br>
              <label for="" class="form-label">Fecha de realización:</label>
              <input type="date" formControlName="papanicolau_fecha" id="" class="form-control">
              <label for="" class="form-label">Observaciones:</label>
              <textarea class="form-control" formControlName="papanicolau_observacion"
                placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            </span>
            <br>
            <label for="" class="form-label">Se ha realizado tamis de mama</label>
            <select class="form-control" formControlName="pac_tamis_mama" id="options">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
            <span *ngIf="this.GinecoObstricoForm.get('pac_tamis_mama').value == 'Si'">
              <br>
              <label for="" class="form-label">Fecha de realización:</label>
              <input type="date" formControlName="tamis_fecha" id="" class="form-control">
              <label for="" class="form-label">Observaciones:</label>
              <textarea class="form-control" formControlName="tamis_observacion"
                placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            </span>
          </div>
        </div>

      </form>
      <br>

      <div id="btns">
        <button class="btn btn-danger" mat-button matStepperPrevious>Back</button>
        <mat-checkbox  required>Finalizar
          Gineco-obstétricos</mat-checkbox>
        <button class="btn btn-primary" matStepperNext>Siguiente</button>
      </div>

  </mat-step>

  <mat-step label="Terminar Historia Clínica">
    <div class="alert alert-success" role="alert">
      <h5>Historia clinica completa</h5>
      <button class="btn btn-success" (click)="postHistoriaClinica()">Guardar</button>
  </div>
  </mat-step>

</mat-horizontal-stepper>
