<div>
  <form [formGroup]="personForm" >
      <div class="row">
        <div class="col-4" >
          <h5>General</h5>
          <div *ngFor="let hobby of personForm.controls.hobbies.controls; let i=index;">
            <div *ngIf="myhobbies[i].id == 'General'">
              <input type="checkbox"[formControl]="hobby" (change)="getSelectedHobbies(hobby, myhobbies[i].name);"
              formControlName=""> {{myhobbies[i].name}}
            </div>
          </div>
        </div>

        <div class="col-4">
          <h5>Adicciones</h5>
          <div *ngFor="let hobby of personForm.controls.hobbies.controls; let i=index;">
            <div *ngIf="myhobbies[i].id == 'Adicciones'">
              <input type="checkbox"[formControl]="hobby" (change)="getSelectedHobbies(hobby, myhobbies[i].name);"> {{myhobbies[i].name}}
            </div>
          </div>
        </div>

        <div class="col-4">
          <h5>Patologias</h5>
          <div *ngFor="let hobby of personForm.controls.hobbies.controls; let i=index;">
            <div *ngIf="myhobbies[i].id == 'Patologias'">
              <input type="checkbox"[formControl]="hobby" (change)="getSelectedHobbies(hobby, myhobbies[i].name);"> {{myhobbies[i].name}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <h5>Infectocontagiosas</h5>
          <div *ngFor="let hobby of personForm.controls.hobbies.controls; let i=index;">
            <div *ngIf="myhobbies[i].id == 'infectocontagiosas'">
              <input type="checkbox"[formControl]="hobby" (change)="getSelectedHobbies(hobby, myhobbies[i].name);"> {{myhobbies[i].name}}
            </div>
          </div>
        </div>

        <div class="col-3">
          <h5>Crónicas</h5>
          <div *ngFor="let hobby of personForm.controls.hobbies.controls; let i=index;">
            <div *ngIf="myhobbies[i].id == 'Cronicas'">
              <input type="checkbox"[formControl]="hobby" (change)="getSelectedHobbies(hobby, myhobbies[i].name);"> {{myhobbies[i].name}}
            </div>
          </div>
        </div>
      </div>
      <br>
    <hr class="final">

    <div class="element">
      <div class="row">
        <div class="col-1">
          <label class="field-label">Opciones seleccionadas:</label>
        </div>

        <div class="col-4">
          <label *ngFor="let hobby of selectedHobbiesNames;" class="opcion">
            <span class="badge bg-success text-dark">{{hobby}}</span>
          </label>
        </div>
      </div>
    </div>
  </form>
</div>

