.hobbie{
  margin-right: 20px;
}

.opcion{
  font-weight: bold;
  margin-right: 5px;
}

.final{
  border: 1px solid rgba(128, 128, 128, 0.568);
}

.badge{
  font-size: .9rem;
  font-weight: 600;
  box-shadow: 1px 10px 24px -9px rgba(0,0,0,1);
-webkit-box-shadow: 1px 10px 24px -9px rgba(0,0,0,1);
-moz-box-shadow: 1px 10px 24px -9px rgba(0,0,0,1);
}
