<div style="margin-top: 30%; margin-left: 45%;" *ngIf="!done">
    <div class="spinner-grow text-info" role="status"><span class="visually-hidden"></span></div>
    <div class="spinner-grow text-info" role="status"><span class="visually-hidden"></span></div>
    <div class="spinner-grow text-info" role="status"><span class="visually-hidden"></span></div>
</div>

<div *ngIf="done">
    <br>
    <div class='contenedor-principal'>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">Citas</a>
            </div>
        </nav>

        <br>
        <div class="row">
            <div class="col-6 col-lg-3"></div>
            <div class="col-6 col-lg-3">
                <div class="card">
                    <div class="card-body p-0 clearfix">
                        <i class="fa fa-paper-plane bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="h5 text-primary mb-0 pt-3 text-center"> {{ totalAsig }} </div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs text-center">Asignadas</div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="card">
                    <div class="card-body p-0 clearfix">
                        <i class="fa fa-times-circle bg-danger p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="h5 text-danger mb-0 pt-3 text-center"> {{ totalRec }} </div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs text-center">Rechazadas</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card">
                  <div class="card-body p-0 clearfix">
                      <i class="fa fa-clock-o bg-warning p-4 px-5 font-2xl mr-3 float-left"></i>
                      <div class="h5 text-warning mb-0 pt-3 text-center"> {{ totalReagendar }} </div>
                      <div class="text-muted text-uppercase font-weight-bold font-xs text-center">Reagendar</div>
                  </div>
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-12">
                <tabset [justified]="true">

                    <tab heading="Citas asignadas" class="mt-2">
                        <div class="row">
                            <div class="col-lg-6 col-md-8">
                                <input class="form-control" placeholder="Buscar cita..." type="text"
                                    (keyup)="onFilterCitaAsig($event)" />
                            </div>
                        </div>
                        <br>
                        <ag-grid-angular #agGrid2 class="ag-theme-alpine" style="width: 100%; height: 450px;"
                            [gridOptions]="tablaAsignadas" [pagination]="true" enableFilter>
                        </ag-grid-angular>
                    </tab>

                    <tab heading="Citas rechazadas" class="mt-2">
                        <div class="row">
                            <div class="col-lg-6 col-md-8">
                                <input class="form-control" placeholder="Buscar cita..." type="text"
                                    (keyup)="onFilterCitaRechazada($event)" />
                            </div>
                        </div>
                        <br>
                        <ag-grid-angular #agGrid2 class="ag-theme-alpine" style="width: 100%; height: 450px;"
                            [gridOptions]="tablaRechazadas" [pagination]="true" enableFilter>
                        </ag-grid-angular>
                    </tab>

                    <tab heading="Citas por reagendar" class="mt-2">
                      <div class="row">
                          <div class="col-lg-6 col-md-8">
                              <input class="form-control" placeholder="Buscar cita..." type="text"
                                  (keyup)="onFilterCitaRechazada($event)" />
                          </div>
                      </div>
                      <br>
                      <ag-grid-angular #agGrid2 class="ag-theme-alpine" style="width: 100%; height: 450px;"
                          [gridOptions]="tablaReagendar" [pagination]="true" enableFilter>
                      </ag-grid-angular>
                  </tab>
                </tabset>
            </div>
        </div>

    </div>

</div>

