
.card{
  border-radius: 20px;
  height:140px;
  width: 10rem;
  -webkit-transition: all 0.5s 0s ease;
-moz-transition: all 0.5s 0s ease;
-o-transition: all 0.5s 0s ease;
transition: all 0.5s 0s ease;
}

.card-body{
  text-align: center;
}


.card:hover{
  border-radius: 40px;
  height:160px;
  width: 12rem;
  -webkit-transition: all 0.5s 0s ease;
-moz-transition: all 0.5s 0s ease;
-o-transition: all 0.5s 0s ease;
transition: all 0.5s 0s ease;
-webkit-box-shadow: 0px 0px 30px 13px rgba(0,0,0,0.23);
box-shadow: 0px 0px 30px 13px rgba(0,0,0,0.23);
 color: #fff;
 font-size: 2rem;
}

#asignadas{
  background-color: rgb(19, 52, 236);
  border-radius: 20px;
}

#title_asignada{
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(11, 27, 122);
}

.sub_asignada{
  font-weight: bold;
  color: rgb(11, 27, 122);
}

.sub_asignada{
  font-weight: bold;
  color: rgb(11, 27, 122);
}

#pendientes{
  background-color: rgb(255, 108, 23);
  border-radius: 20px;
}

#title_pendiente{
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(177, 80, 23)
}

.sub_pendiente{
  font-weight: bold;
  color: rgb(177, 80, 23)
}

#terminadas{
  background-color: rgb(8, 175, 3);
  border-radius: 20px;
}

#title_terminada{
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(5, 119, 1)
}

.sub_terminada{
  font-weight: bold;
  color: rgb(5, 119, 1)
}

.cont_card{
  display: flex;
}


.buttons{
  display: flex;
}

.container{
  background-color:white;
}

.fullcalendar{
  padding: 2rem;
}

.col-1{
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  justify-content: space-evenly;
  padding-top: 9rem;
}
